{
  "pieces" : {
    "vertical" : {
      "textureSize" : [10, 8],
      "texturePosition" : [0, 1],
      "colorStride" : [0, 10],
      "variantStride" : [20, 0]
    },
    "topcap" : {
      "textureSize" : [10, 1],
      "texturePosition" : [0, 0],
      "colorStride" : [0, 10],
      "variantStride" : [20, 0]
    },
    "bottomcap" : {
      "textureSize" : [10, 1],
      "texturePosition" : [0, 9],
      "colorStride" : [0, 10],
      "variantStride" : [20, 0]
    },
    "horizontal" : {
      "textureSize" : [8, 10],
      "texturePosition" : [11, 0],
      "colorStride" : [0, 10],
      "variantStride" : [20, 0]
    },
    "leftcap" : {
      "textureSize" : [1, 10],
      "texturePosition" : [10, 0],
      "colorStride" : [0, 10],
      "variantStride" : [20, 0]
    },
    "rightcap" : {
      "textureSize" : [1, 10],
      "texturePosition" : [19, 0],
      "colorStride" : [0, 10],
      "variantStride" : [20, 0]
    }
  },

  "representativePiece": "horizontal",

  "rules" : {
    "EqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf"
        }
      ]
    },
    "NotEqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf",
          "inverse" : true
        }
      ]
    },
    "Connects" : {
      "entries" : [
        {
          "type" : "Connects"
        }
      ]
    },
    "Empty" : {
      "entries" : [
        {
          "type" : "Connects",
          "inverse" : true
        }
      ]
    }
  },

  "matches" : [
    ["main", [
      {
        "matchAnyPoints" : [
          [[1, 0], "EqualsSelf"],
          [[-1, 0], "EqualsSelf"]
        ],
        "haltOnSubMatch" : true,
        "subMatches" : [
          {
            "pieces" : [["horizontal", [0, -1]]]
          },
          {
            "matchAllPoints" : [
              [[-1, 0], "NotEqualsSelf"]
            ],
            "pieces" : [["leftcap", [-1, -1]]]
          },
          {
            "matchAllPoints" : [
              [[1, 0], "NotEqualsSelf"]
            ],
            "pieces" : [["rightcap", [8, -1]]]
          }
        ]
      },
      {
        "matchAnyPoints" : [
          [[0, 1], "EqualsSelf"],
          [[0, -1], "EqualsSelf"]
        ],
        "haltOnSubMatch" : true,
        "subMatches" : [
          {
            "pieces" : [["vertical", [-1, 0]]]
          },
          {
            "matchAllPoints" : [
              [[0, -1], "NotEqualsSelf"]
            ],
            "pieces" : [["topcap", [-1, -1]]]
          },
          {
            "matchAllPoints" : [
              [[0, 1], "NotEqualsSelf"]
            ],
            "pieces" : [["bottomcap", [-1, 8]]]
          }
        ]
      },
      {
        "pieces" : [
          ["vertical", [-1, 0]],
          ["topcap", [-1, -1]],
          ["bottomcap", [-1, 8]]
        ]
      }
    ]]
  ]
}
