{
  "pieces" : {
    "left" : {
      "textureSize" : [12, 12],
      "texturePosition" : [0, 0],
      "colorStride" : [12, 0],
      "variantStride" : [0, 48]
    },
    "center" : {
      "textureSize" : [12, 12],
      "texturePosition" : [0, 12],
      "colorStride" : [12, 0],
      "variantStride" : [0, 48]
    },
    "right" : {
      "textureSize" : [12, 12],
      "texturePosition" : [0, 24],
      "colorStride" : [12, 0],
      "variantStride" : [0, 48]
    },
    "single" : {
      "textureSize" : [12, 12],
      "texturePosition" : [0, 36],
      "colorStride" : [12, 0],
      "variantStride" : [0, 48]
    }
  },

  "representativePiece": "single",

  "rules" : {
    "EqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf"
        }
      ]
    },
    "NotEqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf",
          "inverse" : true
        }
      ]
    },
    "Connects" : {
      "entries" : [
        {
          "type" : "Connects"
        }
      ]
    },
    "Empty" : {
      "entries" : [
        {
          "type" : "Connects",
          "inverse" : true
        }
      ]
    }
  },

  "matches" : [
    ["main", [
      {
        "matchAllPoints" : [
          [[-1, 0], "NotEqualsSelf"],
          [[1, 0], "EqualsSelf"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["left", [-2, -2]]]
      },
      {
        "matchAllPoints" : [
          [[1, 0], "EqualsSelf"],
          [[-1, 0], "EqualsSelf"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["center", [-2, -2]]]
      },
      {
        "matchAllPoints" : [
          [[-1, 0], "EqualsSelf"],
          [[1, 0], "NotEqualsSelf"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["right", [-2, -2]]]
      },
      {
        "pieces" : [["single", [-2, -2]]]
      }
    ]]
  ]
}
