{
  "pieces" : {
    "top" : {
      "textureSize" : [12, 12],
      "texturePosition" : [0, 0],
      "colorStride" : [12, 0],
      "variantStride" : [0, 48]
    },
    "center" : {
      "textureSize" : [12, 12],
      "texturePosition" : [0, 12],
      "colorStride" : [12, 0],
      "variantStride" : [0, 48]
    },
    "bottom" : {
      "textureSize" : [12, 12],
      "texturePosition" : [0, 24],
      "colorStride" : [12, 0],
      "variantStride" : [0, 48]
    },
    "single" : {
      "textureSize" : [12, 12],
      "texturePosition" : [0, 36],
      "colorStride" : [12, 0],
      "variantStride" : [0, 48]
    }
  },

  "representativePiece": "single",

  "rules" : {
    "EqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf"
        }
      ]
    },
    "NotEqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf",
          "inverse" : true
        }
      ]
    },
    "Connects" : {
      "entries" : [
        {
          "type" : "Connects"
        }
      ]
    },
    "Empty" : {
      "entries" : [
        {
          "type" : "Connects",
          "inverse" : true
        }
      ]
    }
  },

  "matches" : [
    ["main", [
      {
        "matchAllPoints" : [
          [[0, 1], "Empty"],
          [[0, -1], "Connects"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["top", [-2, -2]]]
      },
      {
        "matchAllPoints" : [
          [[0, 1], "Connects"],
          [[0, -1], "Connects"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["center", [-2, -2]]]
      },
      {
        "matchAllPoints" : [
          [[0, 1], "Connects"],
          [[0, -1], "Empty"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["bottom", [-2, -2]]]
      },
      {
        "pieces" : [["single", [-2, -2]]]
      }
    ]]
  ]
}
